# 合并8只股票的日线数据，生成一个较大的数据文件

### 1. 分别读取8只股票数据装入dataframe

In [1]:
import pandas as pd

In [2]:
df588000=pd.read_csv('./stocks/SH#588000.txt')

In [3]:
#增加列‘code'
df588000['code']='588000'

In [4]:
df588000.dtypes

rq       object
kp      float64
zg      float64
zd      float64
sp      float64
cjl       int64
cje     float64
code     object
dtype: object

In [5]:
df588000.head()

           rq     kp     zg     zd     sp         cjl           cje    code
0  2020/11/16  1.556  1.620  1.451  1.465  1445363837  2.119241e+09  588000
1  2020/11/17  1.460  1.460  1.430  1.436  1080636535  1.553722e+09  588000
2  2020/11/18  1.435  1.445  1.422  1.424   863188131  1.234789e+09  588000
3  2020/11/19  1.424  1.440  1.412  1.438   685401807  9.803946e+08  588000
4  2020/11/20  1.436  1.444  1.431  1.435   601003363  8.626239e+08  588000

In [6]:
df601012=pd.read_csv('./stocks/SH#601012.txt')

In [7]:
#增加列‘code'
df601012['code']='601012'

In [8]:
df601288=pd.read_csv('./stocks/SH#601288.txt')

In [9]:
#增加列‘code'
df601288['code']='601288'

In [10]:
df601318=pd.read_csv('./stocks/SH#601318.txt')

In [11]:
df601318['code']='601318'

In [12]:
df000651=pd.read_csv('./stocks/SZ#000651.txt')

In [13]:
df000651['code']='000651'

In [14]:
df000651.head()

           rq     kp     zg     zd     sp        cjl           cje    code
0  2015/09/02  17.55  18.20  17.25  17.85  161098239  2.876194e+09  000651
1  2015/09/07  17.88  18.36  17.20  17.32   98055248  1.740423e+09  000651
2  2015/09/08  17.20  17.67  17.02  17.60   57352881  9.946880e+08  000651
3  2015/09/09  17.61  18.08  17.47  17.85  109881594  1.957843e+09  000651
4  2015/09/10  17.60  17.80  17.40  17.45   57359762  1.008975e+09  000651

In [15]:
df000651.dtypes

rq       object
kp      float64
zg      float64
zd      float64
sp      float64
cjl       int64
cje     float64
code     object
dtype: object

In [16]:
df002241=pd.read_csv('./stocks/SZ#002241.txt')

In [17]:
df002241['code']='002241'

In [18]:
df002475=pd.read_csv('./stocks/SZ#002475.txt')

In [19]:
df002475['code']='002475'

In [20]:
df002475.head()

           rq     kp     zg     zd     sp       cjl          cje    code
0  2015/09/02  26.98  29.07  26.80  28.96  14340258  406649184.0  002475
1  2015/09/07  29.10  29.98  26.28  26.88  12802749  361820384.0  002475
2  2015/09/08  26.02  27.59  26.00  27.55   9437963  251334848.0  002475
3  2015/09/09  28.01  28.80  27.60  28.42  12051510  340712480.0  002475
4  2015/09/10  28.00  28.19  27.20  27.26   6211740  172308976.0  002475

In [21]:
df300124=pd.read_csv('./stocks/SZ#300124.txt')

In [22]:
df300124['code']='300124'

### 2. 合并

In [23]:
df8=pd.concat([df588000,df601012,df601288,df601318,df000651,df002241,df002475,df300124],axis=0)

In [24]:
df8.head()

           rq     kp     zg     zd     sp         cjl           cje    code
0  2020/11/16  1.556  1.620  1.451  1.465  1445363837  2.119241e+09  588000
1  2020/11/17  1.460  1.460  1.430  1.436  1080636535  1.553722e+09  588000
2  2020/11/18  1.435  1.445  1.422  1.424   863188131  1.234789e+09  588000
3  2020/11/19  1.424  1.440  1.412  1.438   685401807  9.803946e+08  588000
4  2020/11/20  1.436  1.444  1.431  1.435   601003363  8.626239e+08  588000

In [26]:
df8.dtypes

rq       object
kp      float64
zg      float64
zd      float64
sp      float64
cjl       int64
cje     float64
code     object
dtype: object

In [34]:
df8.count()

rq      13321
kp      13321
zg      13321
zd      13321
sp      13321
cjl     13321
cje     13321
code    13321
dtype: int64

In [36]:
df8.head(5)

           rq     kp     zg     zd     sp         cjl           cje    code
0  2020/11/16  1.556  1.620  1.451  1.465  1445363837  2.119241e+09  588000
1  2020/11/17  1.460  1.460  1.430  1.436  1080636535  1.553722e+09  588000
2  2020/11/18  1.435  1.445  1.422  1.424   863188131  1.234789e+09  588000
3  2020/11/19  1.424  1.440  1.412  1.438   685401807  9.803946e+08  588000
4  2020/11/20  1.436  1.444  1.431  1.435   601003363  8.626239e+08  588000

### 3. 写入csv文件

In [27]:
df8.to_csv('./stocks/df8.csv',index=False)