## 资金流入分析

In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_excel('隆基绿能历史资金流向.xlsx',skiprows=2)

In [4]:
df.head(5)

,rq,spj,zf,zl,zl_zb,cdd,cdd_zb,dd,dd_zb,zd,zd_zb,xd,xd_zb
0,2023-05-04,3.58,0.0468,1014.13万,0.0038,-6384.10万,-0.0242,7398.23万,0.0281,7797.99万,0.0296,-8812.11万,-0.0334
1,2023-04-28,3.42,0.0000,-1464.30万,-0.0110,-4568.09万,-0.0342,3103.79万,0.0232,-2534.07万,-0.0190,3998.38万,0.0299
2,2023-04-27,3.42,0.0088,-3750.24万,-0.0241,-3439.89万,-0.0221,-310.35万,-0.0020,2863.54万,0.0184,886.69万,0.0057
3,2023-04-26,36.26,0.0357,2.93亿,0.0691,3.75亿,0.0885,-8230.52万,-0.0194,-1.82亿,-0.0429,-1.11亿,-0.0262
4,2023-04-25,35.01,-0.0337,-6.84亿,-0.2012,-4.43亿,-0.1301,-2.42亿,-0.0711,1.84亿,0.0541,5.00亿,0.1471

### 先学习replace函数和apply函数的使用

In [19]:
df['zl'].replace(replace_to=['万','亿'],value=['',''])

TypeError: replace() got an unexpected keyword argument 'replace_to'